<h2>Sign Up</h2>
<ul>
  <%= form_for @user do |f| %>
    <li>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </li>
    <br>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>
    <br>
    <%= f.submit "Register Account" %>
  <% end %>
</ul>
